		body, html {
			font-family: sans-serif;
			color: #333;
		}

		.post {
			background-color: #ffffff;
			padding: 5px 5px;
			margin-bottom: 20px;
			width: 70%;
			margin: auto;
			margin-bottom: 20px;
		}

		@media only screen and (max-width: 600px) {
			.post {
				width: 100%;
			}
		}

		.post h1, h2 {
			margin: 0px;
		}

		.header {
			text-align: center;
			margin-bottom: 10px;
		}
		
		.center {
		    text-align: center;
		}

		.header h1 {
			margin-bottom: 0px;
		}

		code {
			background: #d5e1e6;
			margin: 2px;
			overflow-x: scroll;
			padding: 3px;
		}

		.long {
			display: block;
			padding: 10px;
			margin: 10px;
		}
                a:link {color: #000000}     /* 未访问的链接 */

a:visited {color: #000000}  /* 已访问的链接 */

a:hover {color: #000000}    /* 当有鼠标悬停在链接上 */

a:active {color: #000000}   /* 被选择的链接 */
