		body, html {
			font-family: sans-serif;
			color: #333;
		}

		.post {
			background-color: #ffffff;
			padding: 5px 5px;
			margin-bottom: 20px;
			width: 70%;
			margin: auto;
			margin-bottom: 20px;
		}

		@media only screen and (max-width: 600px) {
			.post {
				width: 100%;
			}
		}

		.post h1, h2 {
			margin: 0px;
		}

		.header {
			text-align: center;
			margin-bottom: 10px;
		}
		
		.center {
		    text-align: center;
		}

		.header h1 {
			margin-bottom: 0px;
		}

		code {
			background: #d5e1e6;
			margin: 2px;
			overflow-x: scroll;
			padding: 3px;
		}

		.long {
			display: block;
			padding: 10px;
			margin: 10px;
		}

                   a { 
			color: #333; 
                }


                 pre {
                       white-space: pre-wrap; /* css-3 */
                       word-wrap: break-word; /* InternetExplorer5.5+ */
                       white-space: -moz-pre-wrap; /* Mozilla,since1999 */
                       white-space: -pre-wrap; /* Opera4-6 */
                       white-space: -o-pre-wrap; /* Opera7 */
		       padding: 1em;
                       color: #353535;
                       background: hsla(0,0%,78%,.3);
                       border: 1px solid #c4c4c4;
                       border-radius: 2px;
                       text-align: left;
                       direction: ltr;
                       tab-size: 4;
		       min-width: 200px;
                }
